.ppt-0 {background:#203B33;aspect-ratio:12192000/6858000;}
.ppt-1 {position:absolute;left:90.625000cqw;top:51.953125cqw;width:3.906250cqw;height:2.187500cqw;}
.ppt-2 {font-size:1.250000cqw;font-family:Arial,sans-serif;color:#DAEB9C;font-weight:400;}
.ppt-3 {position:absolute;left:5.937500cqw;top:6.250000cqw;width:70.312500cqw;height:3.906250cqw;}
.ppt-4 {font-size:1.796875cqw;font-family:Arial,sans-serif;color:#DAEB9C;font-weight:400;}
.ppt-5 {position:absolute;left:5.468750cqw;top:16.015625cqw;width:84.375000cqw;height:15.625000cqw;}
.ppt-6 {font-size:6.406250cqw;font-family:Georgia,serif;color:#FFFFFF;font-weight:400;}
.ppt-7 {font-size:6.406250cqw;font-family:Georgia,serif;color:#FFFFFF;font-weight:400;}
.ppt-8 {position:absolute;left:5.937500cqw;top:36.093750cqw;width:79.687500cqw;height:6.640625cqw;}
.ppt-9 {font-size:2.343750cqw;font-family:Arial,sans-serif;color:#FFFFFF;font-weight:400;}
.ppt-10 {position:absolute;left:5.937500cqw;top:47.812500cqw;width:46.875000cqw;height:3.125000cqw;}
.ppt-11 {font-size:1.875000cqw;font-family:Arial,sans-serif;color:#DAEB9C;font-weight:400;}
.ppt-12 {background:#F5F4EF;aspect-ratio:12192000/6858000;}
.ppt-13 {position:absolute;left:5.468750cqw;top:3.906250cqw;width:88.281250cqw;height:7.812500cqw;}
.ppt-14 {font-size:3.750000cqw;font-family:Georgia,serif;color:#203B33;font-weight:400;}
.ppt-15 {position:absolute;left:90.625000cqw;top:51.953125cqw;width:3.906250cqw;height:2.187500cqw;}
.ppt-16 {font-size:1.250000cqw;font-family:Arial,sans-serif;color:#657372;font-weight:400;}
.ppt-17 {position:absolute;left:5.468750cqw;top:12.734375cqw;width:82.812500cqw;height:3.515625cqw;}
.ppt-18 {font-size:2.109375cqw;font-family:Arial,sans-serif;color:#657372;font-weight:400;}
.ppt-19 {position:absolute;left:5.468750cqw;top:17.968750cqw;width:89.062500cqw;height:19.062500cqw;}
.ppt-20 {width:23.437500cqw;}
.ppt-21 {width:22.656250cqw;}
.ppt-22 {width:42.968750cqw;}
.ppt-23 {background:#203B33;}
.ppt-24 {font-size:1.875000cqw;font-family:Arial,sans-serif;color:#FFFFFF;font-weight:700;}
.ppt-25 {background:#203B33;}
.ppt-26 {font-size:1.875000cqw;font-family:Arial,sans-serif;color:#FFFFFF;font-weight:700;}
.ppt-27 {background:#203B33;}
.ppt-28 {font-size:1.875000cqw;font-family:Arial,sans-serif;color:#FFFFFF;font-weight:700;}
.ppt-29 {height:4.765625cqw;}
.ppt-30 {background:#FFFFFF;}
.ppt-31 {font-size:1.875000cqw;font-family:Arial,sans-serif;color:#222B2B;font-weight:400;}
.ppt-32 {background:#FFFFFF;}
.ppt-33 {font-size:1.875000cqw;font-family:Arial,sans-serif;color:#222B2B;font-weight:400;}
.ppt-34 {background:#FFFFFF;}
.ppt-35 {font-size:1.875000cqw;font-family:Arial,sans-serif;color:#222B2B;font-weight:400;}
.ppt-36 {height:4.765625cqw;}
.ppt-37 {background:#E8EEDC;}
.ppt-38 {font-size:1.875000cqw;font-family:Arial,sans-serif;color:#222B2B;font-weight:700;}
.ppt-39 {background:#E8EEDC;}
.ppt-40 {font-size:1.875000cqw;font-family:Arial,sans-serif;color:#222B2B;font-weight:700;}
.ppt-41 {background:#E8EEDC;}
.ppt-42 {font-size:1.875000cqw;font-family:Arial,sans-serif;color:#222B2B;font-weight:700;}
.ppt-43 {height:4.765625cqw;}
.ppt-44 {background:#FFFFFF;}
.ppt-45 {font-size:1.875000cqw;font-family:Arial,sans-serif;color:#222B2B;font-weight:400;}
.ppt-46 {background:#FFFFFF;}
.ppt-47 {font-size:1.875000cqw;font-family:Arial,sans-serif;color:#222B2B;font-weight:400;}
.ppt-48 {background:#FFFFFF;}
.ppt-49 {font-size:1.875000cqw;font-family:Arial,sans-serif;color:#222B2B;font-weight:400;}
.ppt-50 {height:4.765625cqw;}
.ppt-51 {position:absolute;left:5.468750cqw;top:42.968750cqw;width:87.500000cqw;height:5.078125cqw;}
.ppt-52 {font-size:1.875000cqw;font-family:Arial,sans-serif;color:#203B33;font-weight:400;}
.ppt-53 {background:#F5F4EF;aspect-ratio:12192000/6858000;}
.ppt-54 {position:absolute;left:5.468750cqw;top:3.906250cqw;width:88.281250cqw;height:7.812500cqw;}
.ppt-55 {font-size:3.750000cqw;font-family:Georgia,serif;color:#203B33;font-weight:400;}
.ppt-56 {position:absolute;left:90.625000cqw;top:51.953125cqw;width:3.906250cqw;height:2.187500cqw;}
.ppt-57 {font-size:1.250000cqw;font-family:Arial,sans-serif;color:#657372;font-weight:400;}
.ppt-58 {position:absolute;left:5.468750cqw;top:15.000000cqw;width:37.500000cqw;height:3.906250cqw;}
.ppt-59 {font-size:2.656250cqw;font-family:Georgia,serif;color:#203B33;font-weight:400;}
.ppt-60 {position:absolute;left:5.468750cqw;top:21.093750cqw;width:39.062500cqw;height:18.359375cqw;}
.ppt-61 {font-size:2.265625cqw;font-family:Arial,sans-serif;color:#222B2B;font-weight:400;}
.ppt-62 {font-size:2.265625cqw;font-family:Arial,sans-serif;color:#222B2B;font-weight:400;}
.ppt-63 {font-size:2.265625cqw;font-family:Arial,sans-serif;color:#222B2B;font-weight:400;}
.ppt-64 {font-size:2.265625cqw;font-family:Arial,sans-serif;color:#222B2B;font-weight:400;}
.ppt-65 {position:absolute;left:53.906250cqw;top:15.000000cqw;width:39.843750cqw;height:3.906250cqw;}
.ppt-66 {font-size:2.656250cqw;font-family:Georgia,serif;color:#203B33;font-weight:400;}
.ppt-67 {position:absolute;left:53.906250cqw;top:21.093750cqw;width:39.843750cqw;height:18.359375cqw;}
.ppt-68 {font-size:2.265625cqw;font-family:Arial,sans-serif;color:#222B2B;font-weight:400;}
.ppt-69 {font-size:2.265625cqw;font-family:Arial,sans-serif;color:#222B2B;font-weight:400;}
.ppt-70 {font-size:2.265625cqw;font-family:Arial,sans-serif;color:#222B2B;font-weight:400;}
.ppt-71 {font-size:2.265625cqw;font-family:Arial,sans-serif;color:#222B2B;font-weight:400;}
.ppt-72 {position:absolute;left:5.468750cqw;top:44.140625cqw;width:87.500000cqw;height:5.468750cqw;}
.ppt-73 {font-size:1.953125cqw;font-family:Arial,sans-serif;color:#657372;font-weight:400;}
.ppt-74 {background:#F5F4EF;aspect-ratio:12192000/6858000;}
.ppt-75 {position:absolute;left:5.468750cqw;top:3.906250cqw;width:88.281250cqw;height:7.812500cqw;}
.ppt-76 {font-size:3.750000cqw;font-family:Georgia,serif;color:#203B33;font-weight:400;}
.ppt-77 {position:absolute;left:90.625000cqw;top:51.953125cqw;width:3.906250cqw;height:2.187500cqw;}
.ppt-78 {font-size:1.250000cqw;font-family:Arial,sans-serif;color:#657372;font-weight:400;}
.ppt-79 {position:absolute;left:5.468750cqw;top:12.734375cqw;width:89.062500cqw;height:4.296875cqw;}
.ppt-80 {font-size:2.500000cqw;font-family:Arial,sans-serif;color:#203B33;font-weight:400;}
.ppt-81 {position:absolute;left:5.468750cqw;top:19.531250cqw;width:89.062500cqw;height:19.062500cqw;}
.ppt-82 {width:21.093750cqw;}
.ppt-83 {width:36.718750cqw;}
.ppt-84 {width:31.250000cqw;}
.ppt-85 {background:#203B33;}
.ppt-86 {font-size:1.875000cqw;font-family:Arial,sans-serif;color:#FFFFFF;font-weight:700;}
.ppt-87 {background:#203B33;}
.ppt-88 {font-size:1.875000cqw;font-family:Arial,sans-serif;color:#FFFFFF;font-weight:700;}
.ppt-89 {background:#203B33;}
.ppt-90 {font-size:1.875000cqw;font-family:Arial,sans-serif;color:#FFFFFF;font-weight:700;}
.ppt-91 {height:4.765625cqw;}
.ppt-92 {background:#FFFFFF;}
.ppt-93 {font-size:1.875000cqw;font-family:Arial,sans-serif;color:#222B2B;font-weight:400;}
.ppt-94 {background:#FFFFFF;}
.ppt-95 {font-size:1.875000cqw;font-family:Arial,sans-serif;color:#222B2B;font-weight:400;}
.ppt-96 {background:#FFFFFF;}
.ppt-97 {font-size:1.875000cqw;font-family:Arial,sans-serif;color:#222B2B;font-weight:400;}
.ppt-98 {height:4.765625cqw;}
.ppt-99 {background:#FFFFFF;}
.ppt-100 {font-size:1.875000cqw;font-family:Arial,sans-serif;color:#222B2B;font-weight:400;}
.ppt-101 {background:#FFFFFF;}
.ppt-102 {font-size:1.875000cqw;font-family:Arial,sans-serif;color:#222B2B;font-weight:400;}
.ppt-103 {background:#FFFFFF;}
.ppt-104 {font-size:1.875000cqw;font-family:Arial,sans-serif;color:#222B2B;font-weight:400;}
.ppt-105 {height:4.765625cqw;}
.ppt-106 {background:#FFFFFF;}
.ppt-107 {font-size:1.875000cqw;font-family:Arial,sans-serif;color:#222B2B;font-weight:400;}
.ppt-108 {background:#FFFFFF;}
.ppt-109 {font-size:1.875000cqw;font-family:Arial,sans-serif;color:#222B2B;font-weight:400;}
.ppt-110 {background:#FFFFFF;}
.ppt-111 {font-size:1.875000cqw;font-family:Arial,sans-serif;color:#222B2B;font-weight:400;}
.ppt-112 {height:4.765625cqw;}
.ppt-113 {position:absolute;left:5.468750cqw;top:41.406250cqw;width:87.500000cqw;height:4.687500cqw;}
.ppt-114 {font-size:1.953125cqw;font-family:Arial,sans-serif;color:#222B2B;font-weight:400;}
.ppt-115 {position:absolute;left:5.468750cqw;top:47.656250cqw;width:87.500000cqw;height:2.734375cqw;}
.ppt-116 {font-size:1.718750cqw;font-family:Arial,sans-serif;color:#657372;font-weight:400;}
.ppt-117 {background:#F5F4EF;aspect-ratio:12192000/6858000;}
.ppt-118 {position:absolute;left:5.468750cqw;top:3.906250cqw;width:88.281250cqw;height:7.812500cqw;}
.ppt-119 {font-size:3.750000cqw;font-family:Georgia,serif;color:#203B33;font-weight:400;}
.ppt-120 {position:absolute;left:90.625000cqw;top:51.953125cqw;width:3.906250cqw;height:2.187500cqw;}
.ppt-121 {font-size:1.250000cqw;font-family:Arial,sans-serif;color:#657372;font-weight:400;}
.ppt-122 {position:absolute;left:5.468750cqw;top:14.843750cqw;width:89.062500cqw;height:28.593750cqw;}
.ppt-123 {width:44.531250cqw;}
.ppt-124 {width:22.656250cqw;}
.ppt-125 {width:21.875000cqw;}
.ppt-126 {background:#203B33;}
.ppt-127 {font-size:1.875000cqw;font-family:Arial,sans-serif;color:#FFFFFF;font-weight:700;}
.ppt-128 {background:#203B33;}
.ppt-129 {font-size:1.875000cqw;font-family:Arial,sans-serif;color:#FFFFFF;font-weight:700;}
.ppt-130 {background:#203B33;}
.ppt-131 {font-size:1.875000cqw;font-family:Arial,sans-serif;color:#FFFFFF;font-weight:700;}
.ppt-132 {height:4.765625cqw;}
.ppt-133 {background:#FFFFFF;}
.ppt-134 {font-size:1.875000cqw;font-family:Arial,sans-serif;color:#222B2B;font-weight:400;}
.ppt-135 {background:#FFFFFF;}
.ppt-136 {font-size:1.875000cqw;font-family:Arial,sans-serif;color:#222B2B;font-weight:400;}
.ppt-137 {background:#FFFFFF;}
.ppt-138 {font-size:1.875000cqw;font-family:Arial,sans-serif;color:#222B2B;font-weight:400;}
.ppt-139 {height:4.765625cqw;}
.ppt-140 {background:#E8EEDC;}
.ppt-141 {font-size:1.875000cqw;font-family:Arial,sans-serif;color:#222B2B;font-weight:700;}
.ppt-142 {background:#E8EEDC;}
.ppt-143 {font-size:1.875000cqw;font-family:Arial,sans-serif;color:#222B2B;font-weight:700;}
.ppt-144 {background:#E8EEDC;}
.ppt-145 {font-size:1.875000cqw;font-family:Arial,sans-serif;color:#222B2B;font-weight:700;}
.ppt-146 {height:4.765625cqw;}
.ppt-147 {background:#FFFFFF;}
.ppt-148 {font-size:1.875000cqw;font-family:Arial,sans-serif;color:#222B2B;font-weight:400;}
.ppt-149 {background:#FFFFFF;}
.ppt-150 {font-size:1.875000cqw;font-family:Arial,sans-serif;color:#222B2B;font-weight:400;}
.ppt-151 {background:#FFFFFF;}
.ppt-152 {font-size:1.875000cqw;font-family:Arial,sans-serif;color:#222B2B;font-weight:400;}
.ppt-153 {height:4.765625cqw;}
.ppt-154 {background:#FFFFFF;}
.ppt-155 {font-size:1.875000cqw;font-family:Arial,sans-serif;color:#222B2B;font-weight:400;}
.ppt-156 {background:#FFFFFF;}
.ppt-157 {font-size:1.875000cqw;font-family:Arial,sans-serif;color:#222B2B;font-weight:400;}
.ppt-158 {background:#FFFFFF;}
.ppt-159 {font-size:1.875000cqw;font-family:Arial,sans-serif;color:#222B2B;font-weight:400;}
.ppt-160 {height:4.765625cqw;}
.ppt-161 {background:#FFFFFF;}
.ppt-162 {font-size:1.875000cqw;font-family:Arial,sans-serif;color:#222B2B;font-weight:400;}
.ppt-163 {background:#FFFFFF;}
.ppt-164 {font-size:1.875000cqw;font-family:Arial,sans-serif;color:#222B2B;font-weight:400;}
.ppt-165 {background:#FFFFFF;}
.ppt-166 {font-size:1.875000cqw;font-family:Arial,sans-serif;color:#222B2B;font-weight:400;}
.ppt-167 {height:4.765625cqw;}
.ppt-168 {position:absolute;left:5.468750cqw;top:45.312500cqw;width:88.281250cqw;height:5.078125cqw;}
.ppt-169 {font-size:1.875000cqw;font-family:Arial,sans-serif;color:#203B33;font-weight:400;}
.ppt-170 {background:#F5F4EF;aspect-ratio:12192000/6858000;}
.ppt-171 {position:absolute;left:5.468750cqw;top:3.906250cqw;width:88.281250cqw;height:7.812500cqw;}
.ppt-172 {font-size:3.750000cqw;font-family:Georgia,serif;color:#203B33;font-weight:400;}
.ppt-173 {position:absolute;left:90.625000cqw;top:51.953125cqw;width:3.906250cqw;height:2.187500cqw;}
.ppt-174 {font-size:1.250000cqw;font-family:Arial,sans-serif;color:#657372;font-weight:400;}
.ppt-175 {position:absolute;left:5.468750cqw;top:12.890625cqw;width:85.937500cqw;height:4.062500cqw;}
.ppt-176 {font-size:2.265625cqw;font-family:Arial,sans-serif;color:#657372;font-weight:400;}
.ppt-177 {position:absolute;left:5.468750cqw;top:18.750000cqw;width:89.062500cqw;height:19.062500cqw;}
.ppt-178 {width:40.625000cqw;}
.ppt-179 {width:25.000000cqw;}
.ppt-180 {width:23.437500cqw;}
.ppt-181 {background:#203B33;}
.ppt-182 {font-size:1.875000cqw;font-family:Arial,sans-serif;color:#FFFFFF;font-weight:700;}
.ppt-183 {background:#203B33;}
.ppt-184 {font-size:1.875000cqw;font-family:Arial,sans-serif;color:#FFFFFF;font-weight:700;}
.ppt-185 {background:#203B33;}
.ppt-186 {font-size:1.875000cqw;font-family:Arial,sans-serif;color:#FFFFFF;font-weight:700;}
.ppt-187 {height:4.765625cqw;}
.ppt-188 {background:#FFFFFF;}
.ppt-189 {font-size:1.875000cqw;font-family:Arial,sans-serif;color:#222B2B;font-weight:400;}
.ppt-190 {background:#FFFFFF;}
.ppt-191 {font-size:1.875000cqw;font-family:Arial,sans-serif;color:#222B2B;font-weight:400;}
.ppt-192 {background:#FFFFFF;}
.ppt-193 {font-size:1.875000cqw;font-family:Arial,sans-serif;color:#222B2B;font-weight:400;}
.ppt-194 {height:4.765625cqw;}
.ppt-195 {background:#FFFFFF;}
.ppt-196 {font-size:1.875000cqw;font-family:Arial,sans-serif;color:#222B2B;font-weight:400;}
.ppt-197 {background:#FFFFFF;}
.ppt-198 {font-size:1.875000cqw;font-family:Arial,sans-serif;color:#222B2B;font-weight:400;}
.ppt-199 {background:#FFFFFF;}
.ppt-200 {font-size:1.875000cqw;font-family:Arial,sans-serif;color:#222B2B;font-weight:400;}
.ppt-201 {height:4.765625cqw;}
.ppt-202 {background:#FFFFFF;}
.ppt-203 {font-size:1.875000cqw;font-family:Arial,sans-serif;color:#222B2B;font-weight:400;}
.ppt-204 {background:#FFFFFF;}
.ppt-205 {font-size:1.875000cqw;font-family:Arial,sans-serif;color:#222B2B;font-weight:400;}
.ppt-206 {background:#FFFFFF;}
.ppt-207 {font-size:1.875000cqw;font-family:Arial,sans-serif;color:#222B2B;font-weight:400;}
.ppt-208 {height:4.765625cqw;}
.ppt-209 {position:absolute;left:5.468750cqw;top:41.093750cqw;width:87.500000cqw;height:4.296875cqw;}
.ppt-210 {font-size:2.187500cqw;font-family:Arial,sans-serif;color:#203B33;font-weight:400;}
.ppt-211 {position:absolute;left:5.468750cqw;top:47.109375cqw;width:87.500000cqw;height:3.515625cqw;}
.ppt-212 {font-size:1.796875cqw;font-family:Arial,sans-serif;color:#657372;font-weight:400;}
.ppt-213 {background:#F5F4EF;aspect-ratio:12192000/6858000;}
.ppt-214 {position:absolute;left:5.468750cqw;top:3.906250cqw;width:88.281250cqw;height:7.812500cqw;}
.ppt-215 {font-size:3.750000cqw;font-family:Georgia,serif;color:#203B33;font-weight:400;}
.ppt-216 {position:absolute;left:90.625000cqw;top:51.953125cqw;width:3.906250cqw;height:2.187500cqw;}
.ppt-217 {font-size:1.250000cqw;font-family:Arial,sans-serif;color:#657372;font-weight:400;}
.ppt-218 {position:absolute;left:5.468750cqw;top:14.062500cqw;width:23.437500cqw;height:8.984375cqw;}
.ppt-219 {font-size:6.250000cqw;font-family:Georgia,serif;color:#203B33;font-weight:400;}
.ppt-220 {position:absolute;left:5.468750cqw;top:24.062500cqw;width:37.500000cqw;height:5.078125cqw;}
.ppt-221 {font-size:2.109375cqw;font-family:Arial,sans-serif;color:#222B2B;font-weight:400;}
.ppt-222 {position:absolute;left:54.687500cqw;top:14.062500cqw;width:23.437500cqw;height:8.984375cqw;}
.ppt-223 {font-size:6.250000cqw;font-family:Georgia,serif;color:#203B33;font-weight:400;}
.ppt-224 {position:absolute;left:54.687500cqw;top:24.062500cqw;width:37.500000cqw;height:5.078125cqw;}
.ppt-225 {font-size:2.109375cqw;font-family:Arial,sans-serif;color:#222B2B;font-weight:400;}
.ppt-226 {position:absolute;left:5.468750cqw;top:33.281250cqw;width:86.718750cqw;height:4.296875cqw;}
.ppt-227 {font-size:2.265625cqw;font-family:Arial,sans-serif;color:#222B2B;font-weight:400;}
.ppt-228 {position:absolute;left:5.468750cqw;top:38.906250cqw;width:86.718750cqw;height:4.296875cqw;}
.ppt-229 {font-size:2.265625cqw;font-family:Arial,sans-serif;color:#222B2B;font-weight:400;}
.ppt-230 {position:absolute;left:5.468750cqw;top:45.625000cqw;width:87.500000cqw;height:4.296875cqw;}
.ppt-231 {font-size:1.875000cqw;font-family:Arial,sans-serif;color:#657372;font-weight:400;}
.ppt-232 {background:#F5F4EF;aspect-ratio:12192000/6858000;}
.ppt-233 {position:absolute;left:5.468750cqw;top:3.906250cqw;width:88.281250cqw;height:7.812500cqw;}
.ppt-234 {font-size:3.750000cqw;font-family:Georgia,serif;color:#203B33;font-weight:400;}
.ppt-235 {position:absolute;left:90.625000cqw;top:51.953125cqw;width:3.906250cqw;height:2.187500cqw;}
.ppt-236 {font-size:1.250000cqw;font-family:Arial,sans-serif;color:#657372;font-weight:400;}
.ppt-237 {position:absolute;left:5.468750cqw;top:14.687500cqw;width:27.343750cqw;height:3.906250cqw;}
.ppt-238 {font-size:2.421875cqw;font-family:Georgia,serif;color:#203B33;font-weight:400;}
.ppt-239 {position:absolute;left:35.937500cqw;top:14.687500cqw;width:56.250000cqw;height:7.421875cqw;}
.ppt-240 {font-size:2.109375cqw;font-family:Arial,sans-serif;color:#222B2B;font-weight:400;}
.ppt-241 {position:absolute;left:5.468750cqw;top:26.484375cqw;width:27.343750cqw;height:3.906250cqw;}
.ppt-242 {font-size:2.421875cqw;font-family:Georgia,serif;color:#203B33;font-weight:400;}
.ppt-243 {position:absolute;left:35.937500cqw;top:26.484375cqw;width:56.250000cqw;height:8.593750cqw;}
.ppt-244 {font-size:2.109375cqw;font-family:Arial,sans-serif;color:#222B2B;font-weight:400;}
.ppt-245 {position:absolute;left:5.468750cqw;top:39.843750cqw;width:27.343750cqw;height:3.906250cqw;}
.ppt-246 {font-size:2.421875cqw;font-family:Georgia,serif;color:#203B33;font-weight:400;}
.ppt-247 {position:absolute;left:35.937500cqw;top:39.843750cqw;width:56.250000cqw;height:7.812500cqw;}
.ppt-248 {font-size:2.109375cqw;font-family:Arial,sans-serif;color:#222B2B;font-weight:400;}
.ppt-249 {background:#203B33;aspect-ratio:12192000/6858000;}
.ppt-250 {position:absolute;left:5.468750cqw;top:3.906250cqw;width:88.281250cqw;height:7.812500cqw;}
.ppt-251 {font-size:3.750000cqw;font-family:Georgia,serif;color:#FFFFFF;font-weight:400;}
.ppt-252 {position:absolute;left:90.625000cqw;top:51.953125cqw;width:3.906250cqw;height:2.187500cqw;}
.ppt-253 {font-size:1.250000cqw;font-family:Arial,sans-serif;color:#DAEB9C;font-weight:400;}
.ppt-254 {position:absolute;left:5.937500cqw;top:15.312500cqw;width:86.718750cqw;height:4.296875cqw;}
.ppt-255 {font-size:2.500000cqw;font-family:Arial,sans-serif;color:#FFFFFF;font-weight:400;}
.ppt-256 {position:absolute;left:5.937500cqw;top:21.640625cqw;width:86.718750cqw;height:4.296875cqw;}
.ppt-257 {font-size:2.500000cqw;font-family:Arial,sans-serif;color:#FFFFFF;font-weight:400;}
.ppt-258 {position:absolute;left:5.937500cqw;top:27.968750cqw;width:86.718750cqw;height:4.296875cqw;}
.ppt-259 {font-size:2.500000cqw;font-family:Arial,sans-serif;color:#FFFFFF;font-weight:400;}
.ppt-260 {position:absolute;left:5.937500cqw;top:34.296875cqw;width:86.718750cqw;height:4.296875cqw;}
.ppt-261 {font-size:2.500000cqw;font-family:Arial,sans-serif;color:#FFFFFF;font-weight:400;}
.ppt-262 {position:absolute;left:5.937500cqw;top:44.218750cqw;width:85.937500cqw;height:4.687500cqw;}
.ppt-263 {font-size:2.578125cqw;font-family:Arial,sans-serif;color:#DAEB9C;font-weight:400;}
